@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  /* border: 1px solid red; */
}


html, body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
  background-color: #1a2b33;
}

.start-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 100px;
}

.title {
  color: white;
  font-size: 3rem;
}

.player-selection {
  display: flex;
  box-shadow: 0 10px 7px rgba(0, 0, 0, 0.3);
  padding: 30px;
  gap: 50px;
  border-radius: 10px;
  background-color: #27414e;
}

.x-selection, .o-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 30px 40px;
  gap: 40px;
  background-color: #1a2b33;
  text-align: center;
  font-size: 8rem;
  font-weight: bold;
  color: white;
}

.x-selection:focus-within,
.o-selection:focus-within,
.x-selection:hover,
.o-selection:hover {
  outline: none;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.25);
  transform: scale(1.05);
  transition: box-shadow 0.2s, transform 0.2s;
  z-index: 1;
}

.x-selection {
  background-color: rgb(211, 43, 43);
}

.o-selection {
  background-color: rgb(58, 58, 219);
}

.player-selection input {
  border: none;
  outline: none;
  padding: 10px 0px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.start-game {
  padding: 20px 80px;
  background-color: #27414e;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 10px 7px rgba(0, 0, 0, 0.3);
  color: white;
}

.start-game:hover {
  transform: scale(1.08);
  box-shadow: 0 6px 24px 0 rgba(0,0,0,0.25);
  transition: box-shadow 0.1s, transform 0.1s;
}

.game-section {
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 100px 200px;
  color: white;

}

.hidden {
  display: none;
}

.info {
  display: flex;
  gap: 20px;
  background-color: #27414e;
  padding: 30px;
  border-radius: 10px;
}

.game-actions {
  display: flex;
  gap: 100px;
}

.x-card, .o-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 30px 40px;
  gap: 40px;
  background-color: #1a2b33;
  text-align: center;
  font-size: 8rem;
  font-weight: bold;
  color: white;
}

.x-card {
  background-color: rgb(211, 43, 43);
}

.o-card {
  background-color: rgb(58, 58, 219);
}

.selected-player {
  border: 2px solid white;
}

.unselected-player {
  transform: scale(0.8);
  transition: box-shadow 0.1s, transform 0.1s;
}

.x-side, .o-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.player-X-name, .player-O-name {
  font-size: 2rem;
}

.actions {
  display: flex;
  gap: 100px;
}

.actions button {
  padding: 20px 80px;
  background-color: #27414e;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 10px 7px rgba(0, 0, 0, 0.3);
  color: white;
}

.actions button:hover {
  transform: scale(1.08);
  box-shadow: 0 6px 24px 0 rgba(0,0,0,0.25);
  transition: box-shadow 0.1s, transform 0.1s;
}

.next-round {
  display: none; 
}

.icon-x {
  width: 70px;   
  height: 70px;  
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.icon-o {
  width: 75px;   
  height: 75px;  
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr);    
  gap: 15px; 
  width: 400px;   
  height: 400px;  
}

.board.disabled {
  pointer-events: none;
  opacity: 0.5; 
}

.cell {
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background-color: #27414e;
  border-radius: 10px;
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.cell:hover {
  transform: scale(1.08);
  box-shadow: 0 6px 24px 0 rgba(0,0,0,0.25);
  transition: box-shadow 0.1s, transform 0.1s;
}

.cell-x {
  background-color: rgb(211, 43, 43);
}

.cell-o {
  background-color: rgb(58, 58, 219);
}