* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr);    
  gap: 5px; 
  width: 400px;   
  height: 400px;  
}

.board > .cell {
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
}

.game-info, .board {
  display: none; 
}

.next-round {
  display: none; 
}

.board.disabled {
  pointer-events: none;
  opacity: 0.5; 
}